.todo_form{padding: 20px 20px 20px 20px;}
.app_header_todo{padding:0px 0px 10px 10px;background-color: #66ffcc}
.todo_App{margin-top: 50px}
.add_new_todo{float:right;}
.add_task_cardheader{background-color: #efefef;}
.Login_row{margin:20px}
.edit_icon_todos{float: right}
.logout_btn{float: right;padding: 10px;cursor: pointer;}